.container.announcement-container{
    margin-top:1%;  
    margin-bottom:1%;
}

.card.announcement-card{
    margin: auto;
    height:100%;
}

img.logo-img{
    width:10%;
    height:15%;
    margin: auto;
    
}